.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    flex-basis: 10%;
    color: #fff;
    background-color: #222;
}

.footer__paragraph {
    text-align: center;
    font-size: 11px;
}

.footer__line {
    margin: 0 8px;
    width: 25px;
    height: 1px;
    border-top: 1px solid #fff;
}

@media only screen and (min-width:1280px) and (orientation:landscape) {
    .footer {
        flex-basis: 7vh;
    }
}